body {
    background:url(../images/background2.jpg);
    background-size: cover;
}

.container {
    background-color: #eeeeee
}

.jumbotron {
    font-family: 'ABeeZee', sans-serif;
}

.timer {
    font-family: 'Press Start 2P', cursive;
    color:#32cd32;
    text-shadow: 2px 2px 4px #86e686
}
